:root {
  --color-background: rgb(233, 233, 233);
  --color-plain: rgb(109, 190, 165);
  --color-primary: rgb(234, 246, 242);
  --color-error: rgb(236, 115, 78);
}

::selection {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

body {
  margin: 0;
  background-color: var(--color-background);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

input[type="text"] {
  border: 2px var(--color-primary) solid;
  font-size: 1rem;
  padding: 0.5rem;
  outline: none;
  transition: all 0.2s;
  box-sizing: border-box;
}

input:focus {
  border: 2px var(--color-plain) solid;
}

button {
  display: block;
  background-color: rgb(255, 255, 255);
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  transition: all 0.2s;
  border: 1px var(--color-plain) solid;
}

/* for safari */
input {
  border-radius: 0;
}
button {
  color: rgba(0, 0, 0, 0.8);
}

button:disabled {
  color: rgba(0, 0, 0, 0.2);
}

button:not(:disabled):hover {
  background-color: var(--color-primary);
  cursor: pointer;
}

.notice {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(calc(50vw - 50%), calc(20vh - 50%));
  z-index: 23333;
  background-color: var(--color-error);
  padding: 1rem;
  box-shadow: 0 5px 4px 1px rgba(0, 0, 0, 0.05);
  border: 2px rgba(0, 0, 0, 0.2) solid;
  color: #fff;
}
